{% extends 'base.html' %}

        {% block content %}
        <h1>Your Accounts</h1>
            <table>
               <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
                {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipts.count }}</td>
                </tr>
                {% endfor %}
                    
               </thead>
            </table>
        {% endblock content %}