{% extends 'base.html' %}

        {% block content %}
        <h1>Expense Categories</h1>
            <table>
               <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.count }}</td>
                </tr>
                {% endfor %}
                    
               </thead>
            </table>
        {% endblock content %}